{% extends "base.html" %}

{% block title %}SmartNinja WebApp - Message List{% endblock title %}

{% block main_container %}
{% if user %}
<h1>Message List</h1>

<table class="table table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">ˇ</th>
      <th scope="col">Message</th>
      <th scope="col">Created</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    {% for message in message_list %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>
        <a href="/message/{{message.key.id()}}">{{ message.message_text }}</a>
      </td>
      <td>
        {% if message.created %}
        {{ message.created.strftime("%B %d, %Y") }}
        {% endif %}
      </td>
      <td>
        {{ message.user }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a type="button" class="btn btn-primary" href="{{ logout_url }}">LogOut</a>

{% else %}
<h1>Please log in!!!</h1>
<a type="button" class="btn btn-danger" href="{{ login_url }}">Login</a>
{% endif %}
{% endblock main_container %}