{% extends "base.html" %}

{% block title %}SmartNinja WebApp - Message List{% endblock title %}

{% block main_container %}
<h1>Message List</h1>

<table class="table table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">ˇ</th>
      <th scope="col">Message</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    {% for message in message_list %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ message.message_text }}</td>
      <td>
        {% if message.created %}
        {{ message.created.strftime("%B %d, %Y") }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock main_container %}